
.container{
    width: 700px;
    height: 700px;
    display: grid;
    margin: 2rem;
    border: 2px solid burlywood;
 
}
.grid{
    width: 30px;
    height: 30px;
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
    
}
